[Unit]
Description=Set the battery charge threshold
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "echo '1 72 40 70' > /sys/devices/platform/huawei-wmi/smart_charge"

[Install]
WantedBy=multi-user.target

